/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting background color and height for the body */
body {
  background-color: #ddddd5;
  height: 100vh;
}

/* Styling for the navbar */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.8em;
  background-color: #b7b7a4;
  font-family: "Barriecito", system-ui; /* Applying the imported font */
}

/* Styling for the logo */
.logo {
  color: #2d6a4f;
  font-size: 30px;
  font-weight: bolder;
  /* Adjusting padding to align with signIn button */
  padding-right: 55%;
}

/* Styling for the signIn button */
#signInButton,
#signUpButton,
#datButton {
  color: #d8f3dc;
  background-color: #2d6a4f;
  border: none;
  padding: 8px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 15px;
  width: 100px;
  margin-right: 50px;
  text-decoration: none;
}

/* Hover effect for signIn button */
#signInButton:hover {
  background-color: #6b705c;
}
#signUpButton:hover {
  background-color: #6b705c;
}
#datButton:hover{
  background-color: #6b705c;
}



/* Styling for the content section */
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 75px 50px;
  margin-bottom: 50px;
}

/* Styling for the right content (image) */
.right-content img {
  width: 500px;
}

/* Styling for the left content (text) */
.left-content {
  color: #2d6a4f;
  font-size: 17px;
  padding-left: 20px;
}

/* Styling for the unordered list */
ul {
  margin-left: 40px;
}

/* Styling for list items */
li {
  list-style: circle;
}
.mongo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mongo-data {
  padding: 20px;
  margin: 15px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mongo-data:hover {
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.container {
  max-width: 1140px; /* Set the max width of the container */
  margin: 0 auto; /* Center the container */
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid #dee2e6; /* Add border top */
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo-link {
  margin-right: 0.5rem;
  text-decoration: none;
  color: #212529; /* Set the color */
}
.footer-company {
  margin-right: 0.5rem;
}
.footer-container {
  background-color: #b7b7a4;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #2d6a4f;
  margin-top: 20px;
}
